body {
    background-image: url("../Images/river.png");
    background-color: rgb(33 37 41);
    background-repeat: no-repeat;
    background-position: center fixed;
    background-size: 1920px 1080px;
}

h1 {
    margin: 0%;
    padding: 50px;
    color: azure;
}

nav {
    background-color: rgb(33 37 41);
    color: white;
    opacity: 0.8;
    font-size: 18px;
    font-weight: 500;
}

nav .navbar-nav li a {
    color: white !important;
}

nav .navbar-nav li a:hover {
    color: orange !important;
}