body {
    background-color: rgb(87, 80, 111);
    background-repeat: no-repeat;
    font-size: 15px;
    margin-top: 5%;
    padding-bottom: 5%;
}

img {
    max-width: 400px;
    max-height: 400px;
    background-color: rgb(33 37 41);
}

h1 {
    position: static;
    color: rgb(33 37 41);
    font-family: Arial Black;
}

.p p {
    margin: 0;
    padding: 5%;
    font-size: 200%;
    color: white;
    border-style: solid rgb(33 37 41);
    background-color: rgb(33 37 41);
}

.a1 {
    border-width: 6px;
    border-style: outset;
    border-color: rgb(15, 107, 107);
    background-color: rgb(24 179 181);
}

.a2 {
    border-width: 6px;
    border-style: outset;
    border-color: rgb(51, 98, 93);
    background-color: rgb(103 193 183);
}

.row-container {
    background-color: gray;
    width: auto;
    height: auto;
}