.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  padding: 0%;
}

.nav-link {
  padding: 20px;
  margin: 0px 10px;
}

.navbar-nav li a:hover {
  color: orange !important;
}